---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  <h3 class="mobile-about"><a href="/about">About</a></h3>

  <div class="home-content">

    {{ content }}

  </div>

    <div class="home-posts">
      <h3 class="about"><a href="/about">About</a></h3>

        {%- if site.posts.size > 0 -%}

        {%- include socialmedia-links.html -%}

      <h3 class="post-list-heading">{{ page.list_title | default: "Our Posts" }}</h3>
      <ul class="post-list">
          {% assign posts = '' | split: '' %}
          {% for post in site.posts %}
          {% if post.hide != true %}
          {% assign posts = posts | push: post %}
          {% endif %}
          {% endfor %}
          {% assign posts = posts | sort: 'date' | reverse %}
          {% for post in posts limit:4 %}
          <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <h4 class="post-title">
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h4>
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}
          </li>
          {% endfor %}
      </ul>

      <!--<ul class="post-list">
        {%- for post in site.posts -%}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <h4 class="post-title">
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h4>
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>-->
      <p class="more-posts">... <a href="/archive">more posts</a></p>
    </div> <!-- home-posts -->
    <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>-->
  {%- endif -%}

</div>
