---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  <h3 class="mobile-about"><a href="/about">About</a></h3>

  <div class="home-content">
    <p>The UNSW Casuals Network is a grassroots organisation of casualised and insecure staff at UNSW, fighting for job security and better working conditions.</p>
    <p>Check out our <a href="https://drive.google.com/file/d/1aiXDTewJF9f1-PRKtvnpBmSAw4qW2kMR/view">report</a> on the impact of the pandemic response on UNSW casual workers.</p>
    <p>Read our article published in <a href="https://overland.org.au/2020/05/no-concessions-why-university-workers-must-fight-for-all-jobs/?fbclid=IwAR0rSeCAPl9wOSeq-cnAZZz3hHa17OiVB0wvGS8lNF4IH3L-lFgEKEp5sv0">Overland</a>.</p>
    <p>You can contact us via our <a href="https://www.facebook.com/UNSW-Casuals-Network-111069980586389/">Facebook page</a>, <a href="https://twitter.com/UNSWcasuals">Twitter</a>, or <a href="/contact">email</a>.</p>
  </div>

  {{ content }}


    <div class="home-posts">
      <h3 class="about"><a href="/about">About</a></h3>

        {%- if site.posts.size > 0 -%}
        
        {%- include socialmedia-links.html -%}

      <h3 class="post-list-heading">{{ page.list_title | default: "Our Posts" }}</h3>
      <ul class="post-list">
        {%- for post in site.posts -%}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <h4 class="post-title">
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h4>
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>
    </div> <!-- home-posts -->
    <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>-->
  {%- endif -%}

</div>
